table, tr, th, td {
    border: None;
}

th, td {
    padding: .3rem;
}

.message {
    color: white;
    background-color: green;
    width: 25%;
    height: 2rem;

}

.flex-container {
    display: flex;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    padding: 2%;
}

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.submit-btn {                     
    margin: 5px;
    margin-left: auto; 
}

.form {
    width: 100%;
}