<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
</head>
<body>
    <h1>Add Location</h1>
    {% for message in messages %}
        <p class="">{{message}}</p>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <div class="">
            {{form.as_p}}
        </div>
        <button type="submit">Enter</button>
    </form>
    <a href="{% url 'home' %}">home</a>
    <a href="{% url 'add-catagory' %}">add catagory</a>
    <ol>
        {% for location in locations %}
            <li>{{ location.name }}</li>
        {% endfor %}
    </ol>
</body>
</html>