{% extends 'main.html' %}
{% block content %}

<h1>Hello Budget</h1>

<div>
    {% for catagory in catagories %}
        <h3>{{ catagory }}</h3>
        <p>${{ catagory.budget }}</p>
    {% endfor %}
</div>

{% for message in messages %}
    <p class="message">{{ message }}</p>
{% endfor %}

<form method="POST">
    {% csrf_token %}
    <div class="">
        {{form.as_p}}
    </div>
    <button type="submit">Enter</button>
</form>
<a href="{% url 'add-location' %}">add location</a>
<a href="{% url 'add-catagory' %}">add catagory</a>
<table>
    <tr>
        <th>date</th>
        <th>location</th>
        <th>amount</th>
    </tr>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date}}</td>
            <td>{{ transaction.location }}</td>
            <td>${{ transaction.amount }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}