{% extends 'main.html' %}
{% block content %}

<h1>Hello Budget</h1>

{% include 'snippets/categoryTotals.html' %}

{% include 'snippets/createTransaction.html' %}

<a href="{% url 'add-location' %}">add location</a>
<a href="{% url 'add-category' %}">add catagory</a>
<a href="{% url 'view-transactions' %}">transactions</a>
<a href="{% url 'view-month' %}">Monthly Recap</a>

<table>
    <thead>
        <tr>
            <th>date</th>
            <th>location</th>
            <th>amount</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in latestTransactions %}
        <tr>
            <td>{{ transaction.date}}</td>
            <td>{{ transaction.location }}</td>
            <td>${{ transaction.amount }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% for message in messages %}
    <p class="message">{{ message }}</p>
{% endfor %}

{% endblock %}